[cdf_servers]
%{ for index, dns in node-dns ~}
${dns} ansible_host=${node-ip[index]} # ${node-id[index]}
%{ endfor ~}

[cdf_servers:vars]
host_template=HostTemplate-CDF

[cdh_servers:children]
cdf_servers

[all:vars]
ansible_user=centos